#cookie-notice {
  @include clearfix;
//   color: $primary-light;
  background-color: $light-bg-color;

  font-size: 1rem;
  display: none;
  text-align: center;
  padding: 0.5rem;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  bottom: 0;
  z-index: 3;
  position: fixed;

  max-width: 100%;
  @include breakpoint($sm) {
    max-width: 500px;
    width: 500px;
  }

  @include breakpoint($md) {
    max-width: 680px;
    width: 680px;
  }

  @include breakpoint($lg) {
    max-width: 920px;
    width: 920px;
  }

  @include breakpoint($xl) {
    max-width: 1130px;
    width: 1130px;
  }

  a {
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;
  }
}

